@import url('https://fonts.googleapis.com/css2?family=Bona+Nova:ital@1&family=Brygada+1918:ital@1&family=Lora:ital@1&family=Roboto:ital,wght@0,300;1,400&family=Varela+Round&display=swap');

body {
  margin: 0;
  background-color: #FFD580;
  font-family: 'Mulish', sans-serif, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*{
  font-family: 'Brygada 1918', serif;
}

.navbar{
  font-size: small;
  font-family :Arial, Helvetica, sans-serif;
  background-color: orange !important;
  
}

.navbar a:hover {
  color: white !important;
}
